# Virtual environments
venvqa/
env/
.venv/
venvqa/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log
